<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- server.js を Node で処理 -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>

    <!-- ルーティング：
         1) _next/static, next/static, public, favicon などはそのまま配信
         2) それ以外は server.js（Nextサーバ）へ -->
    <rewrite>
      <rules>
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(favicon\.ico|robots\.txt|sitemap\.xml|_next/.*|next/.*|public/.*)$" />
          <action type="None" />
        </rule>
        <rule name="NodeServer">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- MIME（wasm / js など） -->
    <staticContent>
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".mjs" mimeType="application/javascript" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
    </staticContent>

    <!-- 圧縮（任意） -->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%IIS_BIN%\gzip.dll"/>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />

    <!-- iisnode: 既定の node.exe を使用（Windows App Service に同梱） -->
    <iisnode debuggingEnabled="false" />
  </system.webServer>
</configuration>
